<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.M.I.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
    <script src="{{ url_for('static', filename='darkmode.js') }}" defer></script>

</head>
<body>
    <div class = "info-area">
        <div class = "back-to-settings">
            <a href = "/settings" style = "color: inherit; text-decoration: none;">
                <h4>← back</h4>
            </a>
        </div>
        <h2>ABOUT US</h2>
<!--NF: Please do not touch the text area as it does respect breaklines.-->
        <textarea rows = 19 cols = 42 wrap = "hard" >Hello, we are the developers of A.M.I., team TheParents.This is a capstone project for the Florida State University course CEN4090L. Our mission was to design an Artificial Intelligence (AI) chatbot that combats the "black box" nature of AI models by providing the user source transparency.


We hope you were able to join your experience with A.M.I.




Contact Us: TeamTheParents@AMI.com
        </textarea>
    </div>
</body>
</html>