<!--NF: Created "Homepage" HTML page-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.M.I.</title>
    <link rel = "stylesheet" href = "../static/styles.css">
    <link rel = "stylesheet" href = "../static/homepage.css">
    <script type = "text/javascript" src = "../static/darkmode.js" defer></script>
</head>
<body>
    <div class = "menu">
        <div class = "menu-header">
            <div class = "menu-header-title" >
                <h2 style = "color: inherit; text-decoration: none;">Welcome to A.M.I.</h2>
            </div>
            <div class = "menu-body">
                <div class = "menu-login">
                    <a href = "/login" style = "color: inherit; text-decoration: none;">
                        <h4>Login</h4>
                    </a>
                </div>
                <div class = "menu-guest">
                    <a href = "/chat" style = "color: inherit; text-decoration: none;">
                        <h4>Guest</h4>
                    </a>
                </div>
            </div>
            <div class = "menu-register">
                <a href = "/register" style = "color: inherit; text-decoration: none;">
                    <h4>Register</h4>
                </a>
            </div>
        </div>
    </div>
</body>
</html>