<!--NF: Created "Settings" HTML page-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.M.I.</title>
    <link rel = "stylesheet" href = "../static/styles.css">
    <link rel = "stylesheet" href = "../static/settings.css">
    <script type = "text/javascript" src = "../static/darkmode.js" defer></script>
</head>
<body>
    <h2>SETTINGS</h2>
    <B> Appearence </B>
    <button id = "change-mode">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M560-80q-82 0-155-31.5t-127.5-86Q223-252 191.5-325T160-480.5q0-82.5 31.5-155t86-127Q332-817 405-848.5T560-880q54 0 105 14t95 40q-91 53-145.5 143.5T560-480q0 112 54.5 202.5T760-134q-44 26-95 40T560-80Z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M400-240q-33 0-56.5-23.5T320-320v-50q-57-39-88.5-100T200-600q0-117 81.5-198.5T480-880q117 0 198.5 81.5T760-600q0 69-31.5 129.5T640-370v50q0 33-23.5 56.5T560-240H400Zm0 160q-17 0-28.5-11.5T360-120v-40h240v40q0 17-11.5 28.5T560-80H400Z"/></svg>
    </button>
    <!--NF: AMI's "Perferences" section still needs to be implemented.-->
    <br><br>
    <B> Preference </B> <br>
    <textarea rows = 10 cols = 42 wrap = "hard" id = "textbox">Place your preferred behaviour of AMI here. It will be evaluated and you will be informed if it is valid.
    </textarea>
    <a href = "/chat" style = "color: inherit; text-decoration: none;"> <h4>Back to chat</h4> </a>
</body>
</html>